<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor-Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/messages.css">
    <link rel="stylesheet" href="/css/profile/show profile/common.css">
    <link rel="stylesheet" href="/css/profile/show profile/clinic.css">
    <link rel="stylesheet" href="/css/partials/footer.css">

</head>
<body>
    
    <% if( islog == true && usertype == 1 ){ %>

        <div class="hidden centeredBox">
            <div class="form-container">
                <form action="/start/book" method="post" >
                    <div>
                        <label for="">From patinet:</label>
                        <br>
                        <input type="text" name="patinetName" required>
                    </div>

                    <div>
                        <label for="">to clinic:</label>
                        <br>
                        <input type="text" name="consultName" required>
                    </div>

                    <div>
                        <label for="message">Enter your symtoms :</label>
                        <br>
                        <textarea name="symtom" required></textarea>
                    </div>

                    <div>
                        <label for="details">Enter message to clinic:</label>
                        <br>
                        <textarea name="message" required ></textarea>
                    </div>

                    <div>
                        <label for="data">Enter your preferred date: </label>
                        <br>
                        <input type="date" name="preferredate" required>
                    </div>

                    <input type="hidden" name="constid" value= "<%= data.id %>">
                    <input type="hidden" name="consttype" value="3">
                    <input type="hidden" name="type" value="2">

                    <div class="lastdiv">
                        <button type="submit">Book</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="hidden centeredBox">
            <div class="form-container">
                <form action="/start/book" method="post" >
                    <div>
                        <label for="">From patinet:</label>
                        <br>
                        <input type="text" name="patinetName" required>
                    </div>

                    <div>
                        <label for="">to clinic:</label>
                        <br>
                        <input type="text" name="consultName" required>
                    </div>

                    <div>
                        <label for="message">Enter your symtoms :</label>
                        <br>
                        <textarea name="symtom" required></textarea>
                    </div>

                    <div>
                        <label for="details">Enter message to clinic:</label>
                        <br>
                        <textarea name="message" required ></textarea>
                    </div>

                    <div>
                        <label for="data">Enter your preferred date: </label>
                        <br>
                        <input type="date" name="preferredate" required>
                    </div>

                    <input type="hidden" name="constid" value= "<%= data.id %>">
                    <input type="hidden" name="consttype" value="3">
                    <input type="hidden" name="type" value="1">

                    <div class="lastdiv">
                        <button type="submit">Book</button>
                    </div>
                </form>
            </div>
        </div>

    <% }else{ %>

        <div class="hidden centeredBox">
            <div class="msgclient" >
                <p>Please Log as patient for Booking</p>
            </div>
        </div>
        <div class="hidden centeredBox">
            <div class="msgclient" >
                <p>Please Log as patient for Booking</p>
            </div>
        </div>

    <% } %>

    <!-- responses -->

        <%- include("../../partials/messages") %>

    <!-- navbar -->

        <%- include("../../partials/header",{
            islog : islog,
            type : usertype,
            userid : data.id
        }) %>


    <div class="middle">

    <div class="main">
        <div class="profile_info">
            <div class="left_info">
                <div class="data"> <!-- left part -->
                    <div class="sec1">
                        <!-- info with photo -->
                        <div class="photo">
                            photo
                            <img src="" alt="">
                        </div>
                        <div class="info">
                            <div class="main_data">
                                <p class="mainhead">
                                    <%= data.fullName %>
                                </p>
                                <p id="smhead" >
                                    <%= data.nickName %>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.facility %>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.reviewNumber %> (people reviwed)
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.reviewPercent %>% reach
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.mainFacility %>
                                </p>
                            </div>
                            <div class="segment">
                                <a href="">share your feedback</a>
                            </div>
                        </div>
                    </div>

                    <div class="booking_left">

                        <div class="book_left">
                            <div>
                                <div>
                                    <p class="glow">Clinic Sergery </p>
                                </div>
                                <div>
                                    <% if( data.sergeryFee == 0 ){ %>
                                        <p>free</p>
                                    <% }else{ %>
                                        <p>Rs. <%= data.sergeryFee %> </p>
                                    <% } %>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p class="glow"> Clinic Appointment </p>
                                </div>
                                <div>
                                    <% if( data.appointmentFee == 0 ){ %>
                                        <p>free</p>
                                    <% }else{ %>
                                        <p>Rs. <%= data.appointmentFee %> </p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="book_right">
                            <div>
                                <div>
                                    <p class="glow"> <%= data.nickName %> </p>
                                </div>
                                <div>
                                    <% if( islog == true ){ %>
                                
                                        <% if( usertype == 1 ){ %>
                                            <button class="showBoxBtn">Book Sergery</button>
                                        <% }else{ %>
                                            <button class="showBoxBtn">Book Sergery</button>
                                        <% } %>
        
                                    <% }else{ %>
        
                                        <a href="/login">
                                            <button>Book Sergery</button>
                                        </a>
                                    <% } %>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p class="glow"> <%= data.nickName %> </p>
                                </div>
                                <div>
                                    <% if( islog == true ){ %>
                                
                                        <% if( usertype == 1 ){ %>
                                            <button class="showBoxBtn">Book Appointment</button>
                                        <% }else{ %>
                                            <button class="showBoxBtn">Book Appointment</button>
                                        <% } %>
        
                                    <% }else{ %>
        
                                        <a href="/login">
                                            <button>Book Appointment</button>
                                        </a>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                    </div>

                    <% if( locals.connection && locals.doctors && connection.length > 0 ){ %>

                        <div class="sec2">
                            <p> Doctors works on <%= data.fullName %> </p>
                            <% for( let i = 0;i<connection.length;i++ ){ %>
                                <div>
    
                                    <div class="lefts_info">
                                        <div class="img_div">
                                            <img src="" alt="">
                                        </div>
                                        <div class="lefts_workinfo" >
                                            <div>
                                                <p> <span class="doctor_name" > <%= doctors[i].fullName %> </span> </p>
                                            </div>
                                            <div>
                                                <p> <%= doctors[i].work %> </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rights_info">
                                        <div class="rights_datainfo" >
                                            <div>
                                                <p> <%= doctors[i].reviewPercent %>% popular </p>
                                            </div>
                                            <div>
                                                <p> <%= doctors[i].reviewNumber %> reviews </p>
                                            </div>
                                            <div>
                                                <p> <%= connection[i].workingDays %> </p>
                                                <p> <%= connection[i].workingTime %> </p>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                            <% } %>
                            
                        </div>

                    <% } %>

                    <div class="sec3">
                        <div>
                            <!-- section 1 reviews -->
                        </div>
                        <div>
                            <!-- section 2 question and answer -->
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="right_info">
                <div class="data">
                    <div class="slot_div">
                        <p>Pick your slot</p>
                    </div>
                    <div class="booking_part">
                        <div class="above">
                            <div>
                                <p>Clinic Sergery</p>
                            </div>
                            <div>
                                <% if( data.sergeryFee == 0 ){ %>
                                    <p>free</p>
                                <% }else{ %>
                                    <p>Rs. <%= data.sergeryFee %> </p>
                                <% } %>
                            </div>
                        </div>
                        <div class="mid">
                            <div>
                                <p><%= data.fullName %></p>
                            </div>
                            <div>
                                fees
                            </div>
                            <!-- <div>
                                <p>vedio consultant</p>
                            </div> -->
                        </div>
                        <div class="btn">
                            <% if( islog == true ){ %>
                                
                                <% if( usertype == 1 ){ %>
                                    <button class="showBoxBtn">Book Sergery</button>
                                <% }else{ %>
                                    <button class="showBoxBtn">Book Sergery</button>
                                <% } %>

                            <% }else{ %>

                                <a href="/login">
                                    <button>Book Sergery</button>
                                </a>
                            <% } %>
                        </div>
                    </div>
                    <div class="booking_part">
                        <div class="above">
                            <div>
                                <p>Clinic Appointment</p>
                            </div>
                            <div>
                                <% if( data.appointmentFee == 0 ){ %>
                                    <p>free</p>
                                <% }else{ %>
                                    <p>Rs. <%= data.appointmentFee %> </p>
                                <% } %>
                            </div>
                            <!-- <div>
                                <p>appointment</p>
                            </div> -->
                        </div>
                        <div class="mid">
                            <div>
                                <p><%= data.fullName %></p>
                            </div>
                            <div>
                                <p>fees</p>
                            </div>
                        </div>
                        <div class="btn">

                            <% if( islog == true ){ %>
                                
                                <% if( usertype == 1 ){ %>
                                    <button class="showBoxBtn">Book Appointment</button>
                                <% }else{ %>
                                    <button class="showBoxBtn">Book Appointment</button>
                                <% } %>

                            <% }else{ %>

                                <a href="/login">
                                    <button>Book Appointment</button>
                                </a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


    <%- include('../../partials/footer.ejs') %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="/js/profile/show profile/common.js"></script>
    <script src="/js/partials/messages.js"></script>
    <script src="/js/partials/header.js"></script>

</body>
</html>