<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor-Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile/show profile/doctorStyle.css">
</head>
<body>


    <!-- navbar -->

    <div class="navbar">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Photo</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Find Doctor</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Find Clinic</a>
                  </li>
                </ul>
                <form class="d-flex navbtn" role="search">
                  <button class="btn btn-outline-success" type="submit">Login</button>
                </form>
                <form class="d-flex" role="search">
                    <button class="btn btn-outline-success" type="submit">Signup</button>
                  </form>
              </div>
            </div>
          </nav>
    </div>

    <!-- content -->

    <div class="middle">

    <div class="main">
        <div class="profile_info">
            <div class="left_info">
                <div class="data"> <!-- left part -->
                    <div class="sec1">
                        <!-- info with photo -->
                        <div class="photo">
                            photo
                            <img src="" alt="">
                        </div>
                        <div class="info">
                            <div class="main_data">
                                <p>
                                    <%= data.fullName %>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.work %>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.reviewNumber %>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.about %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="sec2">
                        <!-- experience and skills -->
                        
                        <% if( data.Services.length > 2 ) { %>
                            <% let val = JSON.parse(data.Services) %>
                        <div class="work w1w" >
                            <div class="heading" >
                                <p>Services</p>
                            </div>
                            <div class="show_data">
                                <% for (let key in val) { %>
                                    <%  if (val.hasOwnProperty(key)) {   %>
                                      <li>
                                        <%= val[key] %>
                                      </li>
                                    <%  }  %>
                                <%  }  %>
                            </div>
                        </div>
                        <% } %>

                        <% if( data.specializations.length > 2 ) { %>
                            <% val = JSON.parse(data.specializations) %>
                        <div class="work w2w" >
                            <div class="heading" >
                                <p>Specialization</p>
                            </div>
                            <div class="show_data">
                                <% for (let key in val) { %>
                                    <%  if (val.hasOwnProperty(key)) {   %>
                                      <li>
                                        <%= val[key] %>
                                      </li>
                                    <%  }  %>
                                <%  }  %>
                            </div>
                        </div>
                        <% } %>

                        <% if( data.awards.length > 2 ) { %>
                            <% val = JSON.parse(data.awards) %>
                        <div class="work w3w" >
                            <div class="heading" >
                                <p>Awards</p>
                            </div>
                            <div class="show_data">
                                <% for (let key in val) { %>
                                    <%  if (val.hasOwnProperty(key)) {   %>
                                      <li>
                                        <%= val[key] %>
                                      </li>
                                    <%  }  %>
                                <%  }  %>
                            </div>
                        </div>
                        <% } %>

                        <% if( data.education.length > 2 ) { %>
                            <% val = JSON.parse(data.education) %>
                        <div class="work w4w" >
                            <div class="heading" >
                                <p>Education</p>
                            </div>
                            <div class="show_data">
                                
                                <% for (let key in val) { %>
                                    <%  if (val.hasOwnProperty(key)) {   %>
                                      <li>
                                        <%= val[key] %>
                                      </li>
                                    <%  }  %>
                                <%  }  %>
                            </div>
                        </div>
                        <% } %>

                        <% if( data.membership.length > 2 ) { %>
                            <% val = JSON.parse(data.membership) %>
                        <div class="work w5w" >
                            <div class="heading" >
                                <p>Membership</p>
                            </div>
                            <div class="show_data">
                                
                                <% for (let key in val) { %>
                                    <%  if (val.hasOwnProperty(key)) {   %>
                                      <li>
                                        <%= val[key] %>
                                      </li>
                                    <%  }  %>
                                <%  }  %>
                            </div>
                        </div>
                        <% } %>

                        <% if( data.experience.length > 2 ) { %>
                            <% val = JSON.parse(data.experience) %>
                        <div class="work w6w" >
                            <div class="heading" >
                                <p>Experiences</p>
                            </div>
                            <div class="show_data">
                                
                                <% for (let key in val) { %>
                                    <%  if (val.hasOwnProperty(key)) {   %>
                                      <li>
                                        <%= val[key] %>
                                      </li>
                                    <%  }  %>
                                <%  }  %>
                            </div>
                        </div>
                        <% } %>

                        <% if( data.Registration.length > 2 ) { %>
                            <% val = JSON.parse(data.Registration) %>
                        <div  class="work w7w" >
                            <div class="heading" >
                                <p>Registrations</p>
                            </div>
                            <div class="show_data">
                                
                                <% for (let key in val) { %>
                                    <%  if (val.hasOwnProperty(key)) {   %>
                                      <li>
                                        <%= val[key] %>
                                      </li>
                                    <%  }  %>
                                <%  }  %>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <div class="sec3">
                        <div>
                            <!-- section 1 reviews -->
                        </div>
                        <div>
                            <!-- section 2 question and answer -->
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="right_info">
                <div class="data">
                    <div class="booking_part">
                        <div class="above">
                            <div>
                                <p>Doctor Consultant</p>
                            </div>
                            <div>
                                <p>Rs. 400</p>
                            </div>
                        </div>
                        <div>
                            <div>

                            </div>
                        </div>
                        <div class="btn">
                            <form action="">
                                <input type="hidden" value="12" name="data" >
                                <button>Call Now</button>
                            </form>
                        </div>
                    </div>
                    <div class="booking_part">
                        <div class="above">
                            <div>
                                <p>Doctor Appointment</p>
                            </div>
                            <div>
                                <p>Rs. 400</p>
                            </div>
                        </div>
                        <div>

                        </div>
                        <div class="btn">
                            <form action="/maincheck" method="post">
                                <input type="hidden" value="12" name="data" readonly>
                                <button>Book Appointment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


    <footer>

        <div class="area">
        <div class="main_content">

                <div class="links">
                    <div class="link_head">
                        <p>users</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>booking</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>uses policy</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>other</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                    </div>
                </div>

        </div>
        </div>

        <div class="footer_follow">
            <div class="web_name">
                <a href="/">www.website.com</a>
            </div>
            <div class="all_follow">
                <div>
                    <p>Follow us</p>
                </div>
                <div class="follow">
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                </div>
            </div>
        </div>

    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- <script src="jsdoctorprofile.js"></script> -->

</body>
</html>