<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor-Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/messages.css">
    <link rel="stylesheet" href="/css/profile/show profile/common.css">
    <link rel="stylesheet" href="/css/profile/show profile/doctorStyle.css">
    <link rel="stylesheet" href="/css/partials/footer.css">

</head>
<body>

    <% if( islog == true && usertype == 1 ){ %>

        <div class="hidden centeredBox" >
            <div class="msgclient" >
                <p>call on the number xxxxxxxx89</p>
            </div>
        </div>

        <div class="hidden centeredBox">
            <div class="form-container">
                <form action="/start/book" method="post" >
                    <div>
                        <label for="">From patinet:</label>
                        <br>
                        <input type="text" name="patinetName" required>
                    </div>

                    <div>
                        <label for="">to doctor:</label>
                        <br>
                        <input type="text" name="consultName" required>
                    </div>

                    <div>
                        <label for="message">Enter your symtoms :</label>
                        <br>
                        <textarea name="symtom" required></textarea>
                    </div>

                    <div>
                        <label for="details">Enter message to doctor:</label>
                        <br>
                        <textarea name="message" required ></textarea>
                    </div>

                    <div>
                        <label for="data">Enter your preferred date: </label>
                        <br>
                        <input type="date" name="preferredate" required>
                    </div>

                    <input type="hidden" name="constid" value= "<%= data.id %>">
                    <input type="hidden" name="consttype" value="2">
                    <input type="hidden" name="type" value="1">

                    <div class="lastdiv">
                        <button type="submit">Book</button>
                    </div>
                </form>
            </div>
        </div>

    <% }else{ %>

        <div class="hidden centeredBox" >
            <div class="msgclient" >
                <p>call on the number xxxxxxxx89</p>
            </div>
        </div>
        <div class="hidden centeredBox" >
            <div class="msgclient" >
                <p>Please Log as patient for Booking</p>
            </div>
        </div>

    <% } %>

    <!-- responses -->

    <%- include("../../partials/messages") %>

    <!-- navbar -->

        <%- include("../../partials/header",{
            islog : islog,
            type : usertype,
            userid : data.id
        }) %>


    <div class="middle">

    <div class="main">
        <div class="profile_info">
            <div class="left_info">
                <div class="data"> <!-- left part -->
                    <div class="sec1">
                        <!-- info with photo -->
                        <div class="photo">
                            photo
                            <img src="" alt="">
                        </div>
                        <div class="info">
                            <div class="main_data">
                                <p>
                                    <%= data.fullName %>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.work %>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.reviewNumber %> (people reviwed)
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.reviewPercent %>% (popular)
                                </p>
                            </div>
                            <div>
                                <p>
                                    <%= data.about %>
                                </p>
                            </div>
                            <div class="segment">
                                <a href="">share your feedback</a>
                            </div>
                        </div>
                    </div>

                    <div class="booking_left">

                        <div class="book_left">
                            <div>
                                <div>
                                    <p class="glow"> Doctor Consultant </p>
                                </div>
                                <div>
                                    <% if( data.consultFee == 0 ){ %>
                                        <p>free</p>
                                    <% }else{ %>
                                        <p>Rs. <%= data.consultFee %> </p>
                                    <% } %>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p class="glow"> Doctor Appointment </p>
                                </div>
                                <div>
                                    <% if( data.appointmentFee == 0 ){ %>
                                        <p>free</p>
                                    <% }else{ %>
                                        <p>Rs. <%= data.appointmentFee %> </p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="book_right">
                            <div>
                                <div>
                                    <p class="glow"> Dr. Hemant gupta </p>
                                </div>
                                <div>
                                    <% if( islog == true ){ %>
                                
                                        <% if( usertype == 1 ){ %>
                                            <button class="showBoxBtn">Book Consultance</button>
                                        <% }else{ %>
                                            <button class="showBoxBtn">Book Consultance</button>
                                        <% } %>
        
                                    <% }else{ %>
        
                                        <a href="/login">
                                            <button>Book Consultance</button>
                                        </a>
                                    <% } %>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p class="glow"> Dr. Hemant gupta </p>
                                </div>
                                <div>
                                    <% if( islog == true ){ %>
                                
                                        <% if( usertype == 1 ){ %>
                                            <button class="showBoxBtn">Book Appointment</button>
                                        <% }else{ %>
                                            <button class="showBoxBtn">Book Appointment</button>
                                        <% } %>
        
                                    <% }else{ %>
        
                                        <a href="/login">
                                            <button>Book Appointment</button>
                                        </a>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                    </div>

                    <% if( locals.connection && locals.clinics && connection.length > 0 ){ %>

                        <div class="connect_left">
                            <p> <%= data.fullName %> works on clinic </p>
                            <% for( let i = 0;i<connection.length;i++ ){ %>
                                <div>
    
                                    <div class="lefts_info">
                                        <div class="lefts_workinfo" >
                                            <div>
                                                <a href="/clinic/profile/<%= clinics[i]._id %>"> <p> <%= clinics[i].fullName %> </p> </a>
                                                <p> <%= clinics[i].nickName  %> </p>
                                            </div>
                                            <div>
                                                <p> <%= clinics[i].facility %> </p>
                                                <p> <%= clinics[i].reviewPercent %>% (reached) </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rights_info">
                                        <div class="rights_datainfo" >
                                            <div>
                                                <p> <%= connection[i].workingDays %> </p>
                                                <p> <%= connection[i].workingTime %> </p>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                            <% } %>
                            
                        </div>

                    <% } %>

                    <div class="sec2">
                        <!-- experience and skills -->
                        
                        <% if( data.Services.length > 0 ) { %>
                        <div class="work w1w" >
                            <div class="heading" >
                                <p>Services</p>
                            </div>
                            <div class="show_data">
                                <% for( let j= 0;j<data.Services.length;j++){ %>
                                    <li>
                                        <%= data.Services[j] %>
                                      </li>
                                <% } %>
                            </div>
                        </div>
                        <% } %>

                        <% if( data.specializations.length > 0 ) { %>
                        <div class="work w2w" >
                            <div class="heading" >
                                <p>Specialization</p>
                            </div>
                            <div class="show_data">
                                <% for( let j= 0;j<data.specializations.length;j++){ %>
                                    <li>
                                        <%= data.specializations[j] %>
                                      </li>
                                <% } %>
                            </div>
                        </div>
                        <% } %>

                        <% if( data.awards.length > 0 ) { %>
                        <div class="work w3w" >
                            <div class="heading" >
                                <p>Awards</p>
                            </div>
                            <div class="show_data">
                                <% for( let j= 0;j<data.awards.length;j++){ %>
                                    <li>
                                        <%= data.awards[j] %>
                                      </li>
                                <% } %>
                            </div>
                        </div>
                        <% } %>

                        <% if( data.education.length > 0 ) { %>
                        <div class="work w4w" >
                            <div class="heading" >
                                <p>Education</p>
                            </div>
                            <div class="show_data">
                                <% for( let j= 0;j<data.education.length;j++){ %>
                                    <li>
                                        <%= data.education[j] %>
                                      </li>
                                <% } %>
                            </div>
                        </div>
                        <% } %>

                        <% if( data.membership.length > 0 ) { %>
                        <div class="work w5w" >
                            <div class="heading" >
                                <p>Membership</p>
                            </div>
                            <div class="show_data">
                                <% for( let j= 0;j<data.membership.length;j++){ %>
                                    <li>
                                        <%= data.membership[j] %>
                                      </li>
                                <% } %>
                            </div>
                        </div>
                        <% } %>

                        <% if( data.experience.length > 0 ) { %>
                        <div class="work w6w" >
                            <div class="heading" >
                                <p>Experiences</p>
                            </div>
                            <div class="show_data">
                                <% for( let j= 0;j<data.experience.length;j++){ %>
                                    <li>
                                        <%= data.experience[j] %>
                                      </li>
                                <% } %>
                            </div>
                        </div>
                        <% } %>

                        <% if( data.Registration.length > 0 ) { %>
                        <div  class="work w7w" >
                            <div class="heading" >
                                <p>Registrations</p>
                            </div>
                            <div class="show_data">
                                <% for( let j= 0;j<data.Registration.length;j++){ %>
                                    <li>
                                        <%= data.Registration[j] %>
                                      </li>
                                <% } %>
                            </div>
                        </div>
                        <% } %>

                        <div class="segment m_seg" >
                            <hr>
                            <a href=""><p>report an Error</p></a>
                        </div>
                    </div>
                    <div class="sec3">
                        <div>
                            <!-- section 1 reviews -->
                        </div>
                        <div>
                            <!-- section 2 question and answer -->
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="right_info">
                <div class="data">
                    <div class="slot_div">
                        <p>Pick your slot</p>
                    </div>
                    <div class="booking_part">
                        <div class="above">
                            <div>
                                <p>Doctor Consultant</p>
                            </div>
                            <div>
                                <% if( data.consultFee == 0 ){ %>
                                    <p>free</p>
                                <% }else{ %>
                                    <p>Rs. <%= data.consultFee %> </p>
                                <% } %>
                            </div>
                        </div>
                        <div class="mid">
                            <div>
                                <p><%= data.fullName %></p>
                            </div>
                            <div>
                                <p>fees</p>
                            </div>
                            <!-- <div>
                                <p>vedio consultant</p>
                            </div> -->
                        </div>
                        <div class="btn">
                            <% if( islog == true ){ %>
                                
                                <% if( usertype == 1 ){ %>
                                    <button class="showBoxBtn">Book Consultance</button>
                                <% }else{ %>
                                    <button class="showBoxBtn">Book Consultance</button>
                                <% } %>

                            <% }else{ %>

                                <a href="/login">
                                    <button>Book Consultance</button>
                                </a>
                            <% } %>
                        </div>
                    </div>
                    <div class="booking_part">
                        <div class="above">
                            <div>
                                <p>Doctor Appointment</p>
                            </div>
                            <div>
                                <% if( data.appointmentFee == 0 ){ %>
                                    <p>free</p>
                                <% }else{ %>
                                    <p>Rs. <%= data.appointmentFee %> </p>
                                <% } %>
                            </div>
                            <!-- <div>
                                <p>appointment</p>
                            </div> -->
                        </div>
                        <div class="mid">
                            <div>
                                <p><%= data.fullName %></p>
                            </div>
                            <div>
                                <p>fees</p>
                            </div>
                        </div>
                        <div class="btn">
                            
                            <% if( islog == true ){ %>
                                
                                <% if( usertype == 1 ){ %>
                                    <button class="showBoxBtn">Book Appointment</button>
                                <% }else{ %>
                                    <button class="showBoxBtn">Book Appointment</button>
                                <% } %>

                            <% }else{ %>

                                <a href="/login">
                                    <button>Book Appointment</button>
                                </a>
                            <% } %>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </div>


    <%- include('../../partials/footer.ejs') %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="/js/profile/show profile/common.js"></script>
    <script src="/js/partials/messages.js"></script>
    <script src="/js/partials/header.js"></script>

</body>
</html>