<div class="all_info">
    <div>
        <p class="p_head">symtom:</p> <p><%= bookingInfo.symtom %></p>
    </div>
    <div>
        <p class="p_head">preferred date by patient: </p> <p><%= bookingInfo.preferredConsultdate %></p>
    </div>
    <div>
        <p class="p_head">final date of consultant:</p> <p><%= bookingInfo.consultDate %></p>
    </div>
    <div>
        <p class="p_head">patient message: </p> <p><%= bookingInfo.patientMessage %></p>
    </div>
    <div>
        <p class="p_head">doctor message:</p> <p><%= bookingInfo.consultantMessage %></p>
    </div>
</div>