<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/home page/doctorHome.css">

</head>
<body>

    <div class="navbar">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Photo</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Find Doctor</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Find Clinic</a>
                  </li>
                </ul>
                <form class="d-flex navbtn" role="search">
                  <button class="btn btn-outline-success" type="submit">Login</button>
                </form>
                <form class="d-flex" role="search">
                    <button class="btn btn-outline-success" type="submit">Signup</button>
                  </form>
              </div>
            </div>
          </nav>
    </div>


    <div class="content_head">
        <div class="pink">
            <section >
                <div class="content">
                    <div class="heading">
                        <p>Skip the travel!</p>
                        <p>Take Online Doctor Consultation</p>
                    </div>
                    <p class="description">Private consultation and online appointment booking</p>
                    <p> +175 doctors online now</p>
                    <button>
                        <a class="link primary-button cta" href="/consult/direct/new_consultation">Consult Now</a>
                    </button>
                    <div class="part_icon">
                        <i class="icon-ic_awards"></i>
                        <p>Verified Doctors</p>
                        <i class="icon_prescription"></i>
                        <p>Digital Prescription</p>
                        <i class="icon-ic_message"></i>
                        <p>Free Followup</p>
                        </div>
                </div>
                <div class="head_img">
                    <img alt="practo banner" class="hero-image web" src="/images/doctorHomeImages/otherImages/doctor_top.png">
                </div>
            </section>
        </div>
    </div>


    <div class="main">

        <div class="parts">
            <div class="head">
                <p>Consult online for any health issue</p>
            </div>
            <div class="describe">
                <p>personal consultation for any health issue online with our top doctors in all specialists</p>
            </div>

            <div class="options">
                <button class="scroll-btn scroll-left" >&lt;</button>
                <div class="data_show">
                    <div class="parent" >
                        <a href=""></a>

                        <% for( let i = 0;i<data.length;i++){  %>
                            <a href="/doctor/profile/<%= data[i].dataValues.id %>">
                                <div class="child">
                                    <div class="forimg">
                                        <img src="https://www.practostatic.com/consult/consult-home/symptoms_icon/irregular-painful+period.png" alt="jjbnk">
                                    </div>
                                    <div class="consult_name">
                                        <p> <%= data[i].dataValues.fullName  %> </p>
                                        <!-- doctor work -->
                                        <!-- consult number of doctor -->
                                    </div>
                                </div>
                            </a>
                        <% }  %>
                        
                    <!-- Add more child divs as needed -->
                    </div>
                </div>
                <button class="scroll-btn scroll-right">&gt;</button>
            </div>
        </div>

        <div class="parts">
            <div class="head">
                <p>Consult online for any health issue</p>
            </div>
            <div class="describe">
                <p>personal consultation for any health issue online with our top doctors in all specialists</p>
            </div>

            <div class="options">
                <button class="scroll-btn scroll-left">&lt;</button>
                <div class="data_show">

                    <div class="parent listtwo" >

                        <% if( data.length >= 1 ){ %>
                        <a href="/doctor/profile/<%= data[data.length - 1].dataValues.id %>">
                            <div class="subdiv">
                                <div class="showimg">
                                    <img src="/images/doctorHomeImages/box/img1.jpg" alt="jjbnk">
                                </div>
                                <div class="divhead">
                                    <p>foof asdfipa sd</p>
                                </div>
                                <div class="div_content">
                                    <p>for childasdfas;dofapsd fas9pdifjasodilkfj apsdo </p>
                                </div>
                            </div>
                        </a>
                        <% } %>

                        <% if( data.length >= 2 ){ %>
                            <a href="/doctor/profile/<%= data[data.length - 2].dataValues.id %>">
                                <div class="subdiv">
                                    <div class="showimg">
                                        <img src="/images/doctorHomeImages/box/img2.jpg" alt="jjbnk">
                                    </div>
                                    <div class="divhead">
                                        <p>foof asdfipa sd</p>
                                    </div>
                                    <div class="div_content">
                                        <p>for childasdfas;dofapsd fas9pdifjasodilkfj apsdo </p>
                                    </div>
                                </div>
                            </a>
                        <% } %>

                        <% if( data.length >= 3 ){ %>
                            <a href="/doctor/profile/<%= data[data.length - 3].dataValues.id %>">
                                <div class="subdiv">
                                    <div class="showimg">
                                        <img src="/images/doctorHomeImages/box/img3.jpg" alt="jjbnk">
                                    </div>
                                    <div class="divhead">
                                        <p>foof asdfipa sd</p>
                                    </div>
                                    <div class="div_content">
                                        <p>for childasdfas;dofapsd fas9pdifjasodilkfj apsdo </p>
                                    </div>
                                </div>
                            </a>
                        <% } %>

                        <% if( data.length >= 4 ){ %>
                            <a href="/doctor/profile/<%= data[data.length - 4].dataValues.id %>">
                                <div class="subdiv">
                                    <div class="showimg">
                                        <img src="/images/doctorHomeImages/box/img4.jpg" alt="jjbnk">
                                    </div>
                                    <div class="divhead">
                                        <p>foof asdfipa sd</p>
                                    </div>
                                    <div class="div_content">
                                        <p>for childasdfas;dofapsd fas9pdifjasodilkfj apsdo </p>
                                    </div>
                                </div>
                            </a>
                        <% } %>

                        <% if( data.length >= 5 ){ %>
                            <a href="/doctor/profile/<%= data[data.length - 5].dataValues.id %>">
                                <div class="subdiv">
                                    <div class="showimg">
                                        <img src="/images/doctorHomeImages/box/img5.jpg" alt="jjbnk">
                                    </div>
                                    <div class="divhead">
                                        <p>foof asdfipa sd</p>
                                    </div>
                                    <div class="div_content">
                                        <p>for childasdfas;dofapsd fas9pdifjasodilkfj apsdo </p>
                                    </div>
                                </div>
                            </a>
                        <% } %>

                        <% if( data.length >= 6 ){ %>
                            <a href="/doctor/profile/<%= data[data.length - 6].dataValues.id %>">
                                <div class="subdiv">
                                    <div class="showimg">
                                        <img src="/images/doctorHomeImages/box/img6.jpg" alt="jjbnk">
                                    </div>
                                    <div class="divhead">
                                        <p>foof asdfipa sd</p>
                                    </div>
                                    <div class="div_content">
                                        <p>for childasdfas;dofapsd fas9pdifjasodilkfj apsdo </p>
                                    </div>
                                </div>
                            </a>
                        <% } %>

                        <% if( data.length >= 7 ){ %>
                            <a href="/doctor/profile/<%= data[data.length - 7].dataValues.id %>">
                                <div class="subdiv">
                                    <div class="showimg">
                                        <img src="/images/doctorHomeImages/box/img7.jpg" alt="jjbnk">
                                    </div>
                                    <div class="divhead">
                                        <p>foof asdfipa sd</p>
                                    </div>
                                    <div class="div_content">
                                        <p>for childasdfas;dofapsd fas9pdifjasodilkfj apsdo </p>
                                    </div>
                                </div>
                            </a>
                        <% } %>
                        
                    <!-- Add more child divs as needed -->
                    </div>

                </div>
                <button class="scroll-btn scroll-right">&gt;</button>
            </div>
        </div>

        <hr class="line1">


        <div class="processor">
            <div class="processor_head">
                <p>How it Works</p>
            </div>
            <div class="rows">
                <div>
                    <div class="icon">🔍</div>
                    <div class="discribe">Select a doctor</div>
                </div>
                <div>
                    <div class="icon">📄</div>
                    <div class="discribe">Call with a verified doctor</div>
                </div>
                <div>
                    <div class="icon">📊</div>
                    <div class="discribe">Get a digital prescription </div>
                </div>
            </div>
        </div>


    </div>


    <footer>

        <div class="area">
        <div class="main_content">

                <div class="links">
                    <div class="link_head">
                        <p>users</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>booking</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>uses policy</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                        <div>
                            <a href="">link4</a>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="link_head">
                        <p>other</p>
                    </div>
                    <div class="final_link">
                        <div>
                            <a href="">link1</a>
                        </div>
                        <div>
                            <a href="">link2</a>
                        </div>
                        <div>
                            <a href="">link3</a>
                        </div>
                    </div>
                </div>

        </div>
        </div>

        <div class="footer_follow">
            <div class="web_name">
                <a href="/">www.website.com</a>
            </div>
            <div class="all_follow">
                <div>
                    <p>Follow us</p>
                </div>
                <div class="follow">
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                </div>
            </div>
        </div>

    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/home page/homejs.js"></script>

</body>
</html>