<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Doctor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/messages.css">
    <link rel="stylesheet" href="/css/home page/doctorHome.css">
    <link rel="stylesheet" href="/css/partials/footer.css">

</head>
<body>


    <%- include("../partials/messages") %>
    <%- include("../partials/header",{
        islog : islog,
        type : usertype,
        userid : userid
    }) %>

    <div class="content_head">
        <div class="pink">
            <section >
                <div class="content">
                    <div class="heading">
                        <p>Skip the travel!</p>
                        <p>Take Online Doctor Consultation</p>
                    </div>
                    <p class="description">Private consultation and online appointment booking</p>
                    <p> +175 doctors online now</p>
                    <button> Consult Now </button>
                    <div class="part_icon">
                        <i class="icon-ic_awards"></i>
                        <p>Verified Doctors</p>
                        <i class="icon_prescription"></i>
                        <p>Digital Prescription</p>
                        <i class="icon-ic_message"></i>
                        <p>Free Followup</p>
                        </div>
                </div>
                <div class="head_img">
                    <img alt="practo banner" class="hero-image web" src="/images/doctorHomeImages/otherImages/doctor_top.png">
                </div>
            </section>
        </div>
    </div>


    <div class="main">

        <div class="parts">
            <div class="head">
                <p>Appointment for sergeries with our clinics</p>
            </div>
            <div class="describe">
                <p>Personal appointments for any type of sergeries and test with our trusted clinics and be healthy</p>
            </div>

            <div class="options">
                <button class="scroll-btn scroll-left" >&lt;</button>
                <div class="data_show">
                    <div class="parent" >
                        <a href=""></a>

                        <% for( let i = 0;i<clinic.length;i++){  %>
                            <a href="/clinic/profile/<%= clinic[i].id %>">
                                <div class="child">
                                    <div class="forimg">
                                        <% const link = "/images/doctorHomeImages/circle/img" + (i + 1) + ".jpg" %>
                                        <img src="<%= link %>" alt="jjbnk">
                                    </div>
                                    <div class="consult_name">
                                        <p> <%= clinic[i].fullName  %> </p>
                                    </div>
                                    <div>
                                        <p><%= sergery[i] %></p>
                                    </div>
                                </div>
                            </a>
                        <% }  %>
                        
                    </div>
                </div>
                <button class="scroll-btn scroll-right">&gt;</button>
            </div>
        </div>

        <div class="parts">
            <div class="head">
                <p>Expert Doctors that are connected with us</p>
            </div>
            <div class="describe">
                <p>Doctors with their areas of expertise and services that are ready to appoint you for any health issue</p>
            </div>

            <div class="options">
                <button class="scroll-btn scroll-left" >&lt;</button>
                <div class="data_show">
                    <div class="parent" >

                        <% for( let i = 0;i<data.length;i++){  %>
                            <a href="/doctor/profile/<%= data[i].id %>">
                                <div class="child">
                                    <div class="forimg">
                                        <%
                                            const ind = Math.floor(Math.random() * 4);
                                            const link =  "/images/logo/img" + (ind) + ".jpg";
                                        %>
                                        <img src="<%= link %>" alt="jjbnk">
                                    </div>
                                    <div class="consult_name">
                                        <p> <%= data[i].fullName  %> </p>
                                    </div>
                                    <div>
                                        <% if( data[i].Services !== null ){ %>
                                            <p><%= data[i].Services.join(", ") %></p>
                                        <% } %>
                                    </div>
                                </div>
                            </a>
                        <% }  %>
                        
                    <!-- Add more child divs as needed -->
                    </div>
                </div>
                <button class="scroll-btn scroll-right">&gt;</button>
            </div>
        </div>

        <div class="parts">
            <div class="head">
                <p>Problem that wants to consultance with doctor</p>
            </div>
            <div class="describe">
                <p>Know about common health problems and their key symptoms to get rid of this with our experience doctors</p>
            </div>

            <div class="options">
                <button class="scroll-btn scroll-left">&lt;</button>
                <div class="data_show">

                    <div class="parent listtwo" >

                        <% let ind = -1 %>
                        <% for(let i = data.length-1;i>=0;i-- ){ %>
                            <% ind = data.length - i %>
                            <a href="/doctor/profile/<%= data[i].id %>">
                                <div class="subdiv">
                                    <div class="showimg">
                                        <% const link = "/images/doctorHomeImages/box/img" + ind + ".jpg" %>
                                        <img src=<%= link %> alt="jjbnk">
                                    </div>
                                    <div class="divhead">
                                        <p><%= disease[ind-1].name %></p>
                                    </div>
                                    <div class="div_content">
                                        <p><%= disease[ind-1].solution %></p>
                                        <p><%= disease[ind-1].consult %></p>
                                    </div>
                                </div>
                            </a>
                        <% } %>

                    </div>

                </div>
                <button class="scroll-btn scroll-right">&gt;</button>
            </div>
        </div>

        

        <hr class="line1">


        <div class="processor">
            <div class="processor_head">
                <p>How it Works</p>
            </div>
            <div class="rows">
                <div>
                    <div class="icon">🔍</div>
                    <div class="discribe">Select a doctor</div>
                </div>
                <div>
                    <div class="icon">📄</div>
                    <div class="discribe">Call with a verified doctor</div>
                </div>
                <div>
                    <div class="icon">📊</div>
                    <div class="discribe">Get a digital prescription </div>
                </div>
            </div>
        </div>


    </div>


    <%- include('../partials/footer.ejs') %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/home page/homejs.js"></script>
    <script src="/js/partials/messages.js"></script>
    <script src="/js/partials/header.js"></script>

</body>
</html>