<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/messages.css">
    <link rel="stylesheet" href="/css/home page/homeStyle.css">
    <link rel="stylesheet" href="/css/partials/footer.css">

</head>
<body>

    <%- include("../partials/messages") %>
    <%- include("../partials/header",{
        islog : islog,
        type : usertype,
        userid : userid
    }) %>

    <div class="main">
        

            <div class="card_parent">

                <div class="card_div" >
                    <div class="card">
                        <img src="/images/homeImages/otherImages/top1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Instant vedio consultation</h5>
                            <p class="card-text">Connect within 5 mins</p>
                        </div>
                    </div>
                </div>
                <div class="card_div" >
                    <div class="card" >
                        <img src="/images/homeImages/otherImages/top2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Find doctors near you</h5>
                            <p class="card-text">Conformed appointments</p>
                        </div>
                    </div>
                </div>
                <div class="card_div" >
                    <div class="card" >
                        <img src="/images/homeImages/otherImages/top3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Surgeries</h5>
                            <p class="card-text">Safe and trusted sergery centers</p>
                        </div>
                    </div>
                </div>

            </div>

       

        <div class="parts">
            <div class="head">
                <p>Consult online for any health issue</p>
            </div>
            <div class="describe">
                <p>Personal consultation for any health issue online with our top doctors in all specialists</p>
            </div>

            <div class="options">
                <button class="scroll-btn scroll-left" >&lt;</button>
                <div class="data_show">
                    <div class="parent" >
                        <% for(let i = 0;i<disease.length;i++){ %>
                            <div class="child">
                                <div class="forimg">
                                    <% 
                                        let link;
                                        if (i >= 5) {
                                            link = "/images/homeImages/circleImages/img" + (i + 1) + ".svg";
                                        } else {
                                            link = "/images/homeImages/circleImages/img" + (i + 1) + ".png";
                                        }
                                    %>
                                    <img src=<%= link %> alt="jjbnk">
                                </div>
                                <div class="consult_name">
                                    <p><%= disease[i] %></p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <button class="scroll-btn scroll-right">&gt;</button>
            </div>
        </div>

        <div class="parts">
            <div class="head">
                <p>Consult from clinic online for common health problems</p>
            </div>
            <div class="describe">
                <p>Online personal consultation for health issues within clinic which has top doctors</p>
            </div>

            <div class="options">
                <button class="scroll-btn scroll-left">&lt;</button>
                <div class="data_show">

                    <div class="parent listtwo" >

                        <% for(let i = 0;i<clinic.length;i++ ){ %>
                            <a href="/clinic/profile/<%= clinic[i].id %>">
                                <div class="subdiv">
                                    <div class="showimg">
                                        <% const link = "/images/homeImages/boxImages/img" + ( i + 1 ) + ".jpg" %>
                                        <img src=<%= link %> alt="jjbnk">
                                    </div>
                                    <div class="divhead">
                                        <p><%= clinic[i].fullName %></p>
                                    </div>
                                    <div class="div_content">
                                        <p><%= clinic[i].facility %></p>
                                    </div>
                                </div>
                            </a>
                        <% } %>

                    </div>

                </div>
                <button class="scroll-btn scroll-right">&gt;</button>
            </div>
        </div>

        <hr class="line1">

        <div class="feedback">

            <div class="feed_head">
                <p>What our users have to say</p>
            </div>

            <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/images/homeImages/otherImages/feedback1.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/homeImages/otherImages/feedback2.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/homeImages/otherImages/feedback3.png" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </div>


    </div>


    <%- include('../partials/footer.ejs') %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/home page/homejs.js"></script>
    <script src="/js/partials/messages.js"></script>
    <script src="/js/partials/header.js"></script>

</body>
</html>