<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient - Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/messages.css">
    <link rel="stylesheet" href="/css/profile/edit profile/patienteditStyle.css">
    <link rel="stylesheet" href="/css/profile/edit profile/editcommon.css">
    <link rel="stylesheet" href="/css/partials/footer.css">

</head>
<body>

    <%- include("../../partials/messages") %>
    <%- include("../../partials/header",{
        islog : islog,
        type : usertype,
        userid : data.id
    }) %>


    <!-- content -->

    <% let count = 0; %>
    
    <div class="middle">
    <div class="contain">
        <div class="inner_contain">
            <div class="left_section"> 
                <div class="diff_sec lesec1">
                    <div class="small_sec" >
                        <p>Info.</p>
                    </div>
                    <div class="small_sec" >
                        <p>Appoint.</p>
                    </div>
                    <div class="small_sec" >
                        <p>Sergery</p>
                    </div>
                </div>
                <div class="diff_sec lesec2">
                    <div class="section">
                        <p>Personal</p>
                    </div>
                    <div class="section">
                        <p>Appointment Booking</p>
                    </div>
                    <div class="section">
                        <p>sergery Booking</p>
                    </div>
                    <!-- add section as many as you want -->
                </div>
            </div>
            <div class="right_section">
                <div class="diff_cont">
                    <div class="content" >
                        
                        <div class="content_head">
                            <p>General Information</p>
                        </div>

                        <hr>

                        <form class="firstform" action="/patient/personal" method="post">
                            <div class="formInner inner1s" >
                                <div class="user_input1s" >
                                    <label for="">Name : </label>
                                    <br>
                                    <input value="<%= data.fullName %>" type="text" placeholder="" name="fullname">
                                </div>
                                <div class="user_input1s" >
                                    <label for="">Country : </label>
                                    <br>
                                    <input value="<%= data.Country %>" type="text"  placeholder="" name="country">
                                </div>
                                <div class="user_input1s" >
                                    <label for="">State : </label>
                                    <br>
                                    <input value="<%= data.State %>" type="text" placeholder="" name="state" >
                                </div>
                                <div class="user_input1s" >
                                    <label for="">City : </label>
                                    <br>
                                    <input value="<%= data.city %>" type="text"  placeholder="" name="city">
                                </div>
                                <div class="user_input1s" >
                                    <label for="">address : </label>
                                    <br>
                                    <input value="<%= data.address %>" type="text" placeholder="" name="address">
                                </div>
                                <div class="user_input1s" >
                                    <label for="">Date of birth : </label>
                                    <br>
                                    <input value="<%= data.DOB %>" type="date"  placeholder="" name="dob">
                                </div>
                            </div>

                            <button type="submit">save changes</button>
                        </form>
                            
                    </div>
                    <div class="content" >

                        <div class="content_head">
                            <p>Your Appointment details</p>
                        </div>

                        <hr>

                            <div class="main_feature" >
                                <div class="bookhead" >
                                    <div class="multi_head" >
                                        <p>New appointments</p>
                                    </div>
                                    <div class="multi_head" >
                                        <p>In Progress</p>
                                    </div>
                                    <div class="multi_head" >
                                        <p>Need response</p>
                                    </div>
                                    <div class="multi_head" >
                                        <p>Completed</p>
                                    </div>
                                </div>
                                <div class="bookdata" >
                                    <div class="multi_data" >
                                        
                                        <% count = 0; %>
                                            <% for( let i = 0;i<appointment.length;i++ ){ %>

                                                <% if( appointment[i].status == 1 ){ %>
                                                    <% count++; %>
                                                    
                                                    <div  class="queue">

                                                        <%- include("../../partials/editProfile/patient/bookingHead.ejs", {
                                                            bookingConsultBy : "doctor",
                                                            bookingInfo : appointment[i]
                                                        }) %>
                                                        <%- include("../../partials/editProfile/bookingInfo.ejs", {
                                                            bookingInfo : appointment[i]
                                                        }) %>
                                                    </div>
                                                <% } %>
                                                
                                            <% } %>

                                            <% if( count == 0){ %>
                                                <div class="null_book">
                                                    <p>No booking right now </p>
                                                </div>
                                            <% } %>
                                    </div>
                                    <div class="multi_data" >
                                        <% count = 0; %>
                                            <% for( let i = 0;i<appointment.length;i++ ){ %>

                                                <% if( appointment[i].status == 2 ){ %>
                                                    <% count++; %>
                                                    
                                                    <div class="queue">
                                                        <%- include("../../partials/editProfile/patient/bookingHead.ejs", {
                                                            bookingConsultBy : "doctor",
                                                            bookingInfo : appointment[i]
                                                        }) %>
                                                        <%- include("../../partials/editProfile/bookingInfo.ejs", {
                                                            bookingInfo : appointment[i]
                                                        }) %>
                                                    </div>
                                                <% } %>
                                                
                                            <% } %>

                                            <% if( count == 0){ %>
                                                <div class="null_book">
                                                    <p>No booking right now </p>
                                                </div>
                                            <% } %>
                                    </div>
                                    <div class="multi_data" >
                                        <% count = 0; %>
                                            <% for( let i = 0;i<appointment.length;i++ ){ %>

                                                <% if( appointment[i].status == 3 ){ %>
                                                    <% count++; %>
                                                    
                                                    <div class="queue">
                                                        <%- include("../../partials/editProfile/patient/bookingHead.ejs", {
                                                            bookingConsultBy : "doctor",
                                                            bookingInfo : appointment[i]
                                                        }) %>
                                                        <%- include("../../partials/editProfile/bookingInfo.ejs", {
                                                            bookingInfo : appointment[i]
                                                        }) %>
                                                        <div class="main_work">
                                                            <form action="/user/response" method="post">
                                                                <label for="">Message to Doctor :</label>
                                                                <br>
                                                                <input type="text" placeholder="enter message" name="message" required>
                                                                <br>
                                                                <label for="">Choose options conform completion or denied completion(if you have any problem):</label>
                                                                <br>
                                                                <select name="selection" required>
                                                                    <option value="1">conform completion</option>
                                                                    <option value="2">denied completion </option>
                                                                </select>
                                                                <br>

                                                            <input type="hidden" name="uniqueId" value="<%= appointment[i].id %>" required >
                                                                <button type="submit">Send</button>
                                                            </form>
                                                            <div >
                                                                <button type="submit">Respond</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% } %>
                                                
                                            <% } %>

                                            <% if( count == 0){ %>
                                                <div class="null_book">
                                                    <p>No booking right now </p>
                                                </div>
                                            <% } %>
                                    </div>
                                    <div class="multi_data" >
                                        <% count = 0; %>
                                            <% for( let i = 0;i<appointment.length;i++ ){ %>

                                                <% if( appointment[i].status == 5 ){ %>
                                                    <% count++; %>
                                                    
                                                    <div class="queue">
                                                        <%- include("../../partials/editProfile/patient/bookingHead.ejs", {
                                                            bookingConsultBy : "doctor",
                                                            bookingInfo : appointment[i]
                                                        }) %>
                                                        <%- include("../../partials/editProfile/bookingInfo.ejs", {
                                                            bookingInfo : appointment[i]
                                                        }) %>
                                                    </div>
                                                <% } %>
                                                
                                            <% } %>

                                            <% if( count == 0){ %>
                                                <div class="null_book">
                                                    <p>No booking right now </p>
                                                </div>
                                            <% } %>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <div class="content" >

                        <div class="content_head">
                            <p>Your Sergery details</p>
                        </div>

                        <hr>

                        <div class="main_feature" >
                            <div class="bookhead" >
                                <div class="multi_head" >
                                    <p>New requests</p>
                                </div>
                                <div class="multi_head" >
                                    <p>In progress</p>
                                </div>
                                <div class="multi_head" >
                                    <p>Need response</p>
                                </div>
                                <div class="multi_head" >
                                    <p>Completed</p>
                                </div>
                            </div>
                            <div class="bookdata" >
                                <div class="multi_data" >
                                    <% count = 0; %>
                                            <% for( let i = 0;i<sergery.length;i++ ){ %>

                                                <% if( sergery[i].status == 1 ){ %>
                                                    <% count++; %>
                                                    
                                                    <div class="queue">
                                                        <%- include("../../partials/editProfile/patient/bookingHead.ejs", {
                                                            bookingConsultBy : "clinic",
                                                            bookingInfo : sergery[i]
                                                        }) %>
                                                        <%- include("../../partials/editProfile/bookingInfo.ejs", {
                                                            bookingInfo : sergery[i]
                                                        }) %>
                                                    </div>
                                                <% } %>
                                                
                                            <% } %>

                                            <% if( count == 0){ %>
                                                <div class="null_book">
                                                    <p>No booking right now </p>
                                                </div>
                                            <% } %>
                                </div>
                                <div class="multi_data" >
                                    <% count = 0; %>
                                            <% for( let i = 0;i<sergery.length;i++ ){ %>

                                                <% if( sergery[i].status == 2 ){ %>
                                                    <% count++; %>
                                                    
                                                    <div class="queue">
                                                        <%- include("../../partials/editProfile/patient/bookingHead.ejs", {
                                                            bookingConsultBy : "clinic",
                                                            bookingInfo : sergery[i]
                                                        }) %>
                                                        <%- include("../../partials/editProfile/bookingInfo.ejs", {
                                                            bookingInfo : sergery[i]
                                                        }) %>
                                                    </div>
                                                <% } %>
                                                
                                            <% } %>

                                            <% if( count == 0){ %>
                                                <div class="null_book">
                                                    <p>No booking right now </p>
                                                </div> 
                                            <% } %>
                                </div>
                                <div class="multi_data" >
                                    <% count = 0; %>
                                            <% for( let i = 0;i<sergery.length;i++ ){ %>

                                                <% if( sergery[i].status == 3 ){ %>
                                                    <% count++; %>
                                                    
                                                    <div class="queue">
                                                        <%- include("../../partials/editProfile/patient/bookingHead.ejs", {
                                                            bookingConsultBy : "clinic",
                                                            bookingInfo : sergery[i]
                                                        }) %>
                                                        <%- include("../../partials/editProfile/bookingInfo.ejs", {
                                                            bookingInfo : sergery[i]
                                                        }) %>
                                                        <div class="main_work">
                                                            <form action="/user/response" method="post">
                                                                <label for="">Message to Doctor :</label>
                                                                <br>
                                                                <input type="text" placeholder="enter message" name="message" required>
                                                                <br>
                                                                <label for="">Choose options conform completion or denied completion( if you have any problem ) :</label>
                                                                <br>
                                                                <select name="selection" required>
                                                                    <option value="1">conform completion</option>
                                                                    <option value="2">denied completion </option>
                                                                </select>
                                                                <br>
    
                                                            <input type="hidden" name="uniqueId" value="<%= sergery[i].id %>" required >
                                                                <button type="submit">Send</button>
                                                            </form>
                                                            <div >
                                                                <button type="submit">Respond</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% } %>
                                                
                                            <% } %>

                                            <% if( count == 0){ %>
                                                <div class="null_book">
                                                    <p>No booking right now </p>
                                                </div>
                                            <% } %>
                                </div>
                                <div class="multi_data" >
                                    <% count = 0; %>
                                            <% for( let i = 0;i<sergery.length;i++ ){ %>

                                                <% if( sergery[i].status == 5 ){ %>
                                                    <% count++; %>
                                                    
                                                    <div class="queue">
                                                        <%- include("../../partials/editProfile/patient/bookingHead.ejs", {
                                                            bookingConsultBy : "clinic",
                                                            bookingInfo : sergery[i]
                                                        }) %>
                                                        <%- include("../../partials/editProfile/bookingInfo.ejs", {
                                                            bookingInfo : sergery[i]
                                                        }) %>
                                                    </div>
                                                <% } %>
                                                
                                            <% } %>

                                            <% if( count == 0){ %>
                                                <div class="null_book">
                                                    <p>No booking right now </p>
                                                </div>
                                            <% } %>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>


    <%- include('../../partials/footer.ejs') %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="/js/profile/edit profile/patientEdit.js"></script>
    <script src="/js/partials/messages.js"></script>
    <script src="/js/partials/header.js"></script>

</body>
</html>